name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    runs-on:
      group: databricks-protected-runner-group
      labels: linux-ubuntu-latest

    environment: release

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build package
        run: pnpm run pack:sdk

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.tgz
          draft: false
          prerelease: false

      - name: Release to NPM
        run: pnpm run release
